@{
    ViewData["Title"] = "Página Inicial - Café";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<div id="produtos" class="row">
    <div class="produto col-12 col-md-4">
        <h1>Café Curto</h1>
        <div class="produto_imagem">
            <img src="~/imagens/produtos/cafe_curto.jpg" width="100%">

        </div>

        <div class="produto_descricao">
            <p>O café curto é aquele feito em máquinas de café expresso e tem entre 25 e 35 ml. O café curto também recebe o nome de café expresso, portanto, são sinônimos..</p>
        </div>

        <div class="produto_btn_comprar">
            <button class="btn btn-primary">Comprar</button>
        </div>
    </div>

    <div class="produto col-12 col-md-4">
        <h1>Café Longo</h1>
        <div class="produto_imagem">
            <img src="~/imagens/produtos/cafe_longo.jpg" width="100%">
        </div>

        <div class="produto_descricao">
            <p>O café longo, como o próprio nome já diz, é maior do que o café curto. Um café longo (ou lungo, como também é conhecido) apresenta em torno de 50 ml, sendo que é elaborado com a mesma quantidade de grãos em relação ao café curto.</p>
        </div>

        <div class="produto_btn_comprar">
            <button class="btn btn-primary">Comprar</button>
        </div>
    </div>

    <div class="produto col-12 col-md-4">
        <h1>Cappuccino</h1>
        <div class="produto_imagem">
            <img src="~/imagens/produtos/capuchino.jpg" width="100%">
        </div>

        <div class="produto_descricao">
            <p>Cappuccino, do italiano, pronunciado: ou capuchino, geralmente pronunciado: em português, é uma bebida italiana preparada com café expresso e leite.</p>
        </div>

        <div class="produto_btn_comprar">
            <button class="btn btn-primary">Comprar</button>
        </div>
    </div>

    <div class="produto col-12 col-md-4">
        <h1>Macchiato</h1>
        <div class="produto_imagem">
            <img src="~/imagens/produtos/macchiato.jpg" width="100%">
        </div>

        <div class="produto_descricao">
            <p>Um macchiato é uma bebida à base de café expresso e espuma, bem parecida com um cappuccino ou um latte. A diferença principal são as proporções de café.</p>
        </div>

        <div class="produto_btn_comprar">
            <button class="btn btn-primary">Comprar</button>
        </div>
    </div>
</div>

