@{
    ViewData["Title"] = "Novidades -  Café";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}


<div id="estrutura" class="row">
    <div class="imagem col-6">
        <h1>Área Comum</h1>
        <div>
            <img src="~/imagens/estrutura/area_comun.jpg" width="100%">
        </div>
        <div class="descricao">
            Área ampla, climatizada e confortável.
        </div>
    </div>

    <div class="imagem col-6">
        <h1>Área Kids</h1>
        <div>
            <img src="~/imagens/estrutura/area_kids.jpg" width="100%">
        </div>
        <div class="descricao">
            Área kids com brinquedos seguros e confortáveis.
        </div>
    </div>
</div>